<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 	<Properties>
		<Property name="pattern"    >[%d{DEFAULT}{UTC}][%-5p] %m (%file:%line - %t)%n%throwable </Property>
	</Properties>
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
			<Filters>
			    <ThresholdFilter level="DEBUG"/>
			    <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</Console>
		<Console name="stderr" target="SYSTEM_ERR">
			<PatternLayout pattern="${pattern}" />
			<Filters>
			    <ThresholdFilter level="WARN"/>
			</Filters>
		</Console>
	</Appenders>
	<Loggers>
		<logger name="fr.gael.dhus" level="info"/>
		<logger name="fr.gael.drb.query.FunctionCallExpression" level="debug"/>
		<logger name="org.apache.solr" level="error"/>
		<Root level="info">
			<AppenderRef ref="stderr" />
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>
</Configuration>